<template>
    <div>
        <table border= "0">
            <form>
                <tr>
                    <td><input type="text" v-model="fname" placeholder="First Name"></td>
                </tr>
                <tr>
                    <td><input type="text" v-model="lname" placeholder="Last Name"></td>
                </tr>
                <tr>
                    <td><input type="email" v-model="email" placeholder="Email"></td>
                </tr>
                <tr>
                    <td><input type="password" v-model="password" placeholder="Password"></td>
                </tr>
                <button v-if="!loading" @click='doRegister'>Submit</button>
                <button v-else>Loading</button>
            </form>
        </table>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    export default{
        name:'register',
        data(){
            return{
                fname:"",
                lname:"",
                email:"",
                password:""
            }
        },
        methods: {
            ...mapActions('auth', [
            'register'
            ]),
            
            doRegister () {
                let args = {
                    firstname: this.fname,
                    lastname: this.lname,
                    email: this.email,
                    password: this.password
                }
        
               this.register(args);
            }
        },
        computed: {
            ...mapGetters('auth',[
            'loading',
            'isAuthenticated',
            'error',
            'token'
            ])
        }
    }
</script>

<style>

</style>