<template>
    
</template>

<script>
    export default{
        name: 'TodoItem',
        props:['todo'],
        data() {
            return{
                item:'Hello'
            }
        }
    }
</script>

<style>

</style>