<template>
    <span id="todoApp">
    <h1 style="font-family: 'Wonderbar'">TODO APPLICATION</h1>
    <span><input style="width:35%; padding: 5px; border-radius: 4px;" @keyup.enter="addTodo" type="text" placeholder="Add to TodoList" v-model="message">
        <button style="width:10%" @click="addTodo">Add</button></span>
    <hr>
    
    <table class="table" border="0" v-for="todo in todos">
        <tr :class="{ todoDone: todo.done }">
            <td style="width:10%"><input type="checkbox" v-model="todo.done"></td>
            <td style="width:60%; text-align:left; font-family:'Bauhaus 93'; font-size: 20pt">{{todo.name}}</td>
            <td style="width: 30%"><button class="btn" @click="deleteTodo(todo)">Delete</button></td>
        </tr>
    </table>
    
    <!--
    <ul v-for="todo in todos">
        <li>{{todo}}</li>
    </ul>
    -->
    <!--<TodoItem v-for= "todo in todos"tod = todo></TodoItem>-->
  </span>
</template>

<script>
    import axios from 'axios'
    import TodoItem from './todoitem.vue'
    
    export default {
    name: 'todoApp',
    data() { 
        return{
        message:'',
        todos:[]
        }
    },
    components: {
        TodoItem,
    },
    methods:{
        addTodo: function(){
            if(this.message==""){}
            else{
                this.todos.push({name:this.message, done: false});
                console.log(this.todos);
                this.message="";
            }
            
        },
        deleteTodo: function(todo){
            const todoIndex = this.todos.indexOf(todo);
            this.todos.splice(todoIndex,1);
        }
    }
    
}
</script>

<style>
    .table{
        border:none;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    button{
        border:none;
        padding: 5px 10px;
        color: white;
        background-color: #4C8CF5;
        border-radius: 5px;
    }
    .btn{
        background-color: #DD5145;
        font-weight: bold;
        padding: 10px 80px;
    }
    
    tr{
        
    }
    td{
        
    }
    .todoDone{
        color: #DD5145;
        text-decoration: line-through;
    }
</style>